---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h5> La Voix Insoumise de Bobigny-Drancy-Le Bourget!</h1>
	
			<p>
				Bienvenue sur La Voix Insoumise de Bobigny-Drancy-Le Bourget, votre espace d'information, de mobilisation et d'échange dédié aux membres et sympathisants de La France Insoumise 
				dans notre territoire. Notre plateforme se veut le reflet de notre engagement collectif pour construire une alternative politique ambitieuse et solidaire dans nos trois communes. 
				Nous sommes fiers de porter les valeurs de justice sociale, d'écologie populaire et de démocratie réelle qui animent notre mouvement.
			</p>
			
			<p>Notre mission:</p>
			<ul>
				<li>Informer sur les actions locales et nationales de LFI qui concernent directement notre circonscription</li>
				<li>Mobiliser les énergies citoyennes lors des échéances électorales et des moments clés de la vie politique</li>
				<li>Coordonner nos initiatives locales pour amplifier notre impact</li>
				<li>Débattre des enjeux spécifiques à Bobigny, Drancy et Le Bourget</li>
				<li>Proposer des solutions concrètes aux problématiques de notre territoire</li>
			</ul>
			<p>
				Rejoignez-nous
			
				Que vous soyez militant·e de longue date ou simplement intéressé·e par nos idées, ce site est le vôtre. Abonnez-vous pour recevoir nos actualités, participer à nos événements et contribuer 
				à faire grandir notre mouvement dans la circonscription. Ensemble, faisons entendre la voix insoumise de Bobigny, Drancy et Le Bourget !
			</p>
		</main>
		<Footer />
	</body>
</html>
